<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tambah Bio</title>
</head>
<body>
    
    <form action="" method="post">
        Nama<input type="text" name="nama" id="" value="" placeholder="nama"> <br>
        tinggi<input type="text" name="tinggi" id="" value="" placeholder=" tinggi"> <br>
        tanggal lahir <input type="date" name="date" id="" value=""> <br>
        status<select name="status" id="" >
            <option>nikah</option>
            <option>jomblo</option>
            </select> <br>
        berat<input type='text' name="berat" > <br>
       
        <button type="submit">Tambah</button>
    </form>
</body>
</html>